<script type="text/x-jquery-tmpl" id="blogPostView">
    <div class="blog-post">
        
        <div class="title-bar clearfix">
            <div class="title">
                {{if editing}}
                    <input data-bind="value: title" />
                {{else}}
                    <h3 data-bind="text: title" />
                    <p>
                        <span class="posted-date">Posted: ${createdAtFm}</span>
                        {{if updatedAtFm}}
                            <span class="modified-date">(last updated: ${updatedAtFm})</span>
                        {{/if}}
                    </p>
                {{/if}}
            </div>
            
            {{if loading}}
                <div class="actions">
                    <p>Updating...</p>
                </div>
            {{else}}
                <div class="actions" data-bind="visible: $parent.authorized">
                    <button data-bind="button: {}, click: startEditing, visible: canEdit">edit</button>
                    <button data-bind="button: {}, click: previewChanges, visible: editing">preview changes</button>
                    <button data-bind="button: {}, click: deletePost, visible: id">delete</button>
                    <button data-bind="button: {}, click: deletePost, visible: !id()">cancel</button>
                    <button data-bind="button: {}, click: publishChanges, visible: changed">save changes</button>
                </div>
            {{/if}}
        </div>
        
        {{if editing}}
            <textarea data-bind="value: content" />
        {{else}}
            <div data-bind="html: content" />
        {{/if}}
        
    </div>
</script>