<script type="text/x-jquery-tmpl" id="headerView">
    <div class="header">
        <div class="clearfix">
            <div class="title">
                <a class="nav-to" href="/">
                    <h1>blogr</h1>
                </a>
            </div>
        
            <div class="actions">
                <p>
                {{if authorized}}
                    welcome, ${userName}! (<a class="nav-none" href="#" data-bind="click: signout">sign out</a>)
                {{else}}
                    <button data-bind="button: {}, click: signin">sign in</button>
                {{/if}}
                </p>
            </div>
        </div>
    </div>
</script>
