<script type="text/x-jquery-tmpl" id="headerView">
    <div class="header">
        <div class="clearfix">
            <div class="title">
                <a href="#" onclick="javascript:showBlogList()">
                    <h1>blogr</h1>
                </a>
            </div>
        
            <div class="actions">
                <p>
                {{if authorized}}
                    welcome, ${userName}! (<a href="#" onclick="javascript:util.auth.signout()">sign out</a>)
                {{else}}
                    <a href="#" onclick="javascript:util.auth.prompt()">sign in</a>
                {{/if}}
                </p>
            </div>
        </div>
    </div>
</script>
