h1,h2,h3,h4,h5,h6
{
  clear:both;
  font-weight:400;
  font-family:'Gill Sans', 'Trebuchet MS', Calibri, sans-serif;
  margin:0;
  padding:0;
}

h1
{
  font-size:3em;
  line-height:1;
  margin-bottom:.5em;
}

h2
{
  font-size:2em;
  margin-bottom:.75em;
}

h3
{
  font-size:1.5em;
  line-height:1;
  margin-bottom:1em;
}

h4
{
  font-size:1.2em;
  line-height:1.25;
  margin-bottom:1.25em;
}

h5
{
  font-size:1em;
  font-weight:700;
  margin-bottom:1.5em;
}

h6
{
  font-size:1em;
  font-weight:700;
}

p
{
  margin:0 0 1.5em;
}

body
{
  font:normal normal normal 13px/1.231 '???Gill Sans???', Calibri, '???Trebuchet MS???', sans-serif;
}

#footer p {
    text-align: center;
}

.container
{
  width:700px;
  margin:0 auto;
}

.slider
{
    position: relative;
    overflow: hidden;
}

.slider .slider-tray
{
    width: 10000px;
}

.slider .slider-item
{
    float: left;
    margin-right: 100px;
    width: 700px;
    position: relative;
}

.blog
{
}

.blog-post
{
  border-top:1px solid #aaa;
  margin-bottom:10px;
  padding:10px 0;
}

.bubble-body textarea
{
  width:100%;
  height:250px;
}

.blog-post .title-bar
{
  margin-bottom:10px;
}

.header .title, .blog .title, .blog-post .title
{
  float:left;
}

.blog-post .title h3
{
  margin-bottom:.5em;
}

.actions
{
  float:right;
}

.modified-date
{
  color:#999;
}

.hide
{
  display:none;
}

.clearfix:after
{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}


.bubble {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
    margin: 20px 0;
}

.bubble-content {
    border: 1px solid #CACACA;
}

.bubble-header {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    height: 33px;
    padding: 6px 6px 6px 10px;
}

.bubble-header h3 {
    margin: 0.3em 0;
}

.bubble-body {
    background: none repeat scroll 0 0 #FBFBFB;
    padding: 6px;
}