<!DOCTYPE html>
<html>
<head>
  <title>VtbServer</title>
  <%= stylesheet_link_tag    "application" %>

    <script type='text/javascript' src='/assets/jquery-1.7.1.js'></script>
    <script type='text/javascript' src='/assets/jquery-ui-1.8.16.custom.min.js'></script>
    <script type='text/javascript' src='/assets/jquery.tmpl.js'></script>
    <script type='text/javascript' src='/assets/jquery.subscribe.js'></script>
    <script type='text/javascript' src='/assets/jquery.cookie.js'></script>
    <script type='text/javascript' src='/assets/json2.js'></script>
    <script type='text/javascript' src='/assets/knockout-2.0.0rc.debug.js'></script>
    <script type='text/javascript' src='/assets/underscore.js'></script>
    <script type='text/javascript' src='/assets/underscore.string.js'></script>
    <script type='text/javascript' src='/assets/util.js'></script>
    <script type='text/javascript' src='/assets/vtb.js'></script>
    <script type='text/javascript' src='/assets/viewmodels/container.js'></script>
    <script type='text/javascript' src='/assets/viewmodels/header.js'></script>
    <script type='text/javascript' src='/assets/viewmodels/blog-post.js'></script>
    <script type='text/javascript' src='/assets/viewmodels/blog.js'></script>
    <script type='text/javascript' src='/assets/viewmodels/blog-list.js'></script>

    <link rel="stylesheet" href="/assets/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css" />
    
  <!-- javascript_include_tag "jquery-1.7.1", "jquery-ui-1.8.16.custom.min", "jquery.tmpl", "jquery.subscribe", "knockout-2.0.0rc.debug", "underscore", "vtb", "blog", "application" -->

  <%= csrf_meta_tags %>
  
    <script type="text/javascript">
    
        function configureControllers() {
            util.nav.actions.home = {
                index: function(params) {
                    var blogListData = util.loadFeed('/api/json/feed/blogs');
                    var blogListViewModel = new BlogListViewModel(blogListData);
                    util.nav.view('blogListView', blogListViewModel);
                }
            };
            
            util.nav.actions.blog = {
                index: function(params) {
                    var blogData = util.loadFeed('/api/json/feed/blogs/' + params.id);
                    var blogViewModel = new BlogViewModel(blogData);
                    util.nav.view('blogView', blogViewModel);
                }
            };            
        }
        
        function configureRoutes() {
            util.nav.map([
                "/blog/:id   -> blog.index",
                "/ -> home.index"
            ]);
        }
    
        $(document).ready(function() {
            configureControllers();
            configureRoutes();
                        
            $(document).on("click", "a.nav-none", function(event) {
                event.preventDefault();
            });
            
            $(document).on("click", "a.nav-to", function(event) {
                var href = $(event.currentTarget).attr("href");
                util.nav.to(href);
                event.preventDefault();
            });
        
            $("body").append(util.loadView('/views/header.htm'));
            ko.applyBindings(new HeaderViewModel(), $('#header')[0]);
            
            $("body").append(util.loadView('/views/blog.htm'));
            $("body").append(util.loadView('/views/blog-post.htm'));

            util.nav.to("/");            
        });
    </script>
</head>
<body>

<%= yield %>

    <div class="container">
        <div id="header" data-bind="template: 'headerView'" class="clearfix"></div>
        <div class="slider">
            <div class="slider-tray">
            </div>
        </div>
        <div id="footer">
            <p>Copyright blogr (c) 2011</p>
        </div>
    </div>
    
    <div id="ok-cancel-dlg" class="hide">
        <p>
            <span id="warning" class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            <span id="message" />
        </p>
    </div>
    
    <script type="text/x-jquery-tmpl" id="containerView">
        <p>Container View</p>
        <div data-bind="template: {
            name: 'containerItemView',
            foreach: items }">
        </div>
    </script>
    
    <script type="text/x-jquery-tmpl" id="containerItemView">
        <p>Container Item View</p>
    </script>
    
    <script type="text/x-jquery-tmpl" id="blogListItemView">
        <div class="bubble">
            <div class="bubble-content">
                <div class="bubble-header">
                    <h3>${title}</h3>
                </div>
                <div class="bubble-body">
                    <span>by ${author}</span>
                    <p><a class="nav-to" href="/blog/${id}">View</a></p>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-jquery-tmpl" id="blogListView">
        <div data-bind="template: {
            name:'blogListItemView',
            foreach: blogs }">
        </div>
    </script>

    
</body>
</html>
