<!DOCTYPE html>
<html>
<head>
  <title>VtbServer</title>
  <%= stylesheet_link_tag    "application" %>

    <script type='text/javascript' src='assets/jquery-1.7.1.js'></script>
    <script type='text/javascript' src='assets/jquery-ui-1.8.16.custom.min.js'></script>
    <script type='text/javascript' src='assets/jquery.tmpl.js'></script>
    <script type='text/javascript' src='assets/jquery.subscribe.js'></script>
    <script type='text/javascript' src='assets/jquery.cookie.js'></script>
    <script type='text/javascript' src='assets/json2.js'></script>
    <script type='text/javascript' src='assets/knockout-2.0.0rc.debug.js'></script>
    <script type='text/javascript' src='assets/underscore.js'></script>
    <script type='text/javascript' src='assets/underscore.string.js'></script>
    <script type='text/javascript' src='assets/util.js'></script>
    <script type='text/javascript' src='assets/vtb.js'></script>
    <script type='text/javascript' src='assets/viewmodels/container.js'></script>
    <script type='text/javascript' src='assets/viewmodels/header.js'></script>
    <script type='text/javascript' src='assets/viewmodels/blog-post.js'></script>
    <script type='text/javascript' src='assets/viewmodels/blog.js'></script>
    <script type='text/javascript' src='assets/viewmodels/blog-list.js'></script>

    <link rel="stylesheet" href="assets/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css" />
    
  <!-- javascript_include_tag "jquery-1.7.1", "jquery-ui-1.8.16.custom.min", "jquery.tmpl", "jquery.subscribe", "knockout-2.0.0rc.debug", "underscore", "vtb", "blog", "application" -->

  <%= csrf_meta_tags %>
  
    <script type="text/javascript">
    
        /*var _slider = {
            items: [],
            contains: function(viewId) {
                return _(this.items).any(function(x) { return x.viewId === viewId; });
            },
            find: function(viewId) {
            },
            push: function(viewId, tmplId, viewModel) {
                if (this.contains(viewId)) {
                } else {
                    this.items.push({
                        viewId: viewId,
                        selector: '#' + viewId
                    });
                }
            }
        };*/
        
        function showBlog(id) {
            var blogData = util.loadFeed('/api/json/feed/blogs/' + id);
            var blogViewModel = new BlogViewModel(blogData);
            showView('blogView', blogViewModel);
        }
        
        function showBlogList() {
            var blogListData = util.loadFeed('/api/json/feed/blogs');
            var blogListViewModel = new BlogListViewModel(blogListData);
            showView('blogListView', blogListViewModel);
        }
    
        function showView(tmplId, viewModel) {
            var currentItems = $('.slider .slider-item');

            $('.slider-tray').append($(
                "<div class='slider-item'><div data-bind='template: \""
                + tmplId
                + "\"'></div></div>"
            ));
            
            var newItem = $('.slider .slider-item').last();            
            ko.applyBindings(viewModel, newItem[0]); 
            
            if (currentItems.length) {
                currentItems.animate({ left: '-=800px', opacity: 0 }, 800, function() {
                    currentItems.remove();
                });
                newItem.css('opacity', '0').animate({ left: '-=800px', opacity: 1.0 }, 800, function() {
                    newItem.css('left', '0');
                });
            }
        }
        
        function configureControllers() {
            util.nav.actions.home = {
                index: function(params) {
                    showBlogList();
                }
            };
            
            util.nav.actions.blog = {
                index: function(params) {
                    showBlog(params.id);
                }
            };            
        }
        
        function configureRoutes() {
            util.nav.map([
                "/blog/:id   -> blog.index",
                "/home/index -> home.index"
            ]);
        }
    
        $(document).ready(function() {
            configureControllers();
            configureRoutes();
        
            $("body").append(util.loadView('/views/header.htm'));
            ko.applyBindings(new HeaderViewModel(), $('#header')[0]);
            
            $("body").append(util.loadView('/views/blog.htm'));
            $("body").append(util.loadView('/views/blog-post.htm'));

            util.nav.to("/home/index");            
        });
    </script>
</head>
<body>

<%= yield %>

    <div class="container">
        <div id="header" data-bind="template: 'headerView'" class="clearfix"></div>
        <div class="slider">
            <div class="slider-tray">
            </div>
        </div>
        <div id="footer">
            <p>Copyright blogr (c) 2011</p>
        </div>
    </div>
    
    <div id="ok-cancel-dlg" class="hide">
        <p>
            <span id="warning" class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            <span id="message" />
        </p>
    </div>
    
    <script type="text/x-jquery-tmpl" id="containerView">
        <p>Container View</p>
        <div data-bind="template: {
            name: 'containerItemView',
            foreach: items }">
        </div>
    </script>
    
    <script type="text/x-jquery-tmpl" id="containerItemView">
        <p>Container Item View</p>
    </script>
    
    <script type="text/x-jquery-tmpl" id="blogListItemView">
        <div class="blog">
            <h3>${title}</h3>
            <span>by ${author}</span>
            <p><a href="#" onclick="javascript:util.nav.to('/blog/${id}')">View</a></p>
        </div>
    </script>

    <script type="text/x-jquery-tmpl" id="blogListView">
        <div data-bind="template: {
            name:'blogListItemView',
            foreach: blogs }">
        </div>
    </script>

    
</body>
</html>
